PORT=5000

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=DATABASE_NAME

JWT_SECRET=YOUR_SECRET_KEY

JWT_EXPIRE=7d

EMAIL_USER=YOUR_EMAIL@gmail.com
EMAIL_PASS=YOUR_EMAIL_APP_PASSWORD

VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
